{% extends "../base_website.html" %}

{% block content %}
    <div class="grid-container">
        <!-- Bread crumbs -->
        <div class="grid-x grid-margin-x">
            <div class="large-12 cell">
                <a href="{% url 'index' %}">Repositories</a>
                <i class="fas fa-chevron-right" style="color: #999; margin: 0 0.5em;"></i>
                Settings
            </div>

            <div class="large-12 cell">
                &nbsp;
            </div>
        </div>

        <div class="grid-x grid-margin-x">
            <div class="large-12 cell">
                <h1>Your Plan</h1>
            </div>

            <div class="large-12 cell">
                <h4>
                    {{ user.profile.plan_name_and_status }}

                    {% if user.profile.plan.slug != 'team' %}
                        <a href="{% url "pricing" %}" class="button primary large">Upgrade now!</a>
                    {% endif %}
                </h4>
                <br/><br/>
            </div>
        </div>

        <div class="grid-x grid-margin-x">
            <div class="large-12 cell">
                <h1>Settings</h1>
            </div>

            <div class="large-12 cell">
                <table>
                    <tr>
                        <td>Username:</td>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>{{ user.email }}</td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
{% endblock content %}
