{% load static %}
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Codefrog</title>
        <link rel="stylesheet" href="{% static "css/foundation.min.css" %}">
        <link rel="stylesheet" href="{% static "css/app.css" %} ">
        <script src="https://kit.fontawesome.com/ed7547b377.js" crossorigin="anonymous"></script>

        <script src="{% static "js/globals.js" %}"></script>
        <script src="{% static "js/usage.js" %}"></script>

        <script>
            (function(h,o,t,j,a,r){
                h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
                h._hjSettings={hjid:1586492,hjsv:6};
                a=o.getElementsByTagName('head')[0];
                r=o.createElement('script');r.async=1;
                r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
                a.appendChild(r);
            })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
        </script>

        {% block head_end %}{% endblock head_end %}
    </head>

<body class="app">
    <div class="header" style="height: 5em; margin-bottom: 3em;">
        <div class="grid-x grid-padding-x grid-padding-y">
            <div class="small-2 cell">
                <h3><a href="{% url 'index' %}">
                    <img src="{% static 'images/frog-white-black.png' %}" class="logo-frog"/>
                </a></h3>
            </div>

            <div class="small-10 cell text-right" style="margin-top:1em;">
                Hello {{ request.user.username }}!
                <a href="{% url 'user-settings' user %}">Settings</a> | <a href="{% url 'logout' %}">Sign out</a>
            </div>
        </div>
    </div>

    <div class="content">
        {% block content %}{% endblock content %}
    </div>

    <div class="footer" style="height: 5em; margin-top: 7em;">
        {% block footer %}
            <div class="grid-container">
                <div class="grid-x grid-margin-x grid-padding-y text-center large-text-left">
                    <div class="large-12 cell text-center">
                        Codefrog
                    </div>
                </div>
            </div>
        {% endblock footer %}
    </div>

    {% block body_end %}{% endblock body_end %}
    {% csrf_token %}
    <input type="hidden" name="projectid" value="{{ project.id }}">
    <input type="hidden" name="projectslug" value="{{ project.slug }}">

    <div class="feedback">
        <div class="grid-container">
            <div class="grid-x grid-margin-x grid-margin-y">
                <div class="small-12 cell">
                    <form method="post" action="{% url "feedback" %}">
                        <div class="grid-container">
                            <div class="grid-x grid-margin-x">
                                <div class="small-12 cell">
                                    <label for="message">You have an idea? Or got some Feedback? Keep it coming!</label>
                                </div>
                                {% csrf_token %}
                                <div class="small-10 cell">
                                    <textarea id="message" name="message" rows="3"></textarea>
                                </div>
                                <div class="small-2 cell">
                                    <button type="submit" class="button primary">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
