{% extends "base_app.html" %}

{% block content %}
    <div class="grid-container">
        {% if user.profile.newly_registered %}
            {% include "new_user_welcome.html" %}
        {% endif %}

        <div class="grid-x grid-margin-x">
            <div class="large-12 cell">
                <h1>Repositories</h1>
            </div>
        </div>

        {% for project in projects %}
            <div class="grid-x grid-margin-x grid-margin-y dashboard-card">
                <div class="large-12 cell">
                    {% if project.active %}
                        {% include "project/_list_item_active.html" %}
                    {% else %}
                        {% include "project/_list_item_inactive.html" %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
