<!DOCTYPE HTML>
<html>
<head>
    <script type="text/javascript">
        //colors = ['#DD0F7E', '#009BBE', '#A8DA00', '#F2E205', '#EE5A02'];
        colors = ['#DD0F7E', '#009BBE', 'rgba(168, 218, 0, 0.6)', '#F2E205', '#EE5A02'];

        window.onload = function () {
            // CHART JS
            var timeFormat = 'MM/DD/YYYY HH:mm';

            const ctx = document.getElementById('main-chart').getContext('2d');
            const data = {
                // Labels should be Date objects
                labels: [
                    {% for metric in metrics %}
                        moment("{{ metric.date|date:"c" }}").format('YYYY-MM-DD HH:mm:ss'){% if not forloop.last %},{% endif %}
                    {% endfor %}
                ],
                datasets: [{
                    fill: false,
                    label: 'Complexity',
                    type: 'line',
                    data: [
                        {% for metric in metrics %}
                            {{ metric.complexity|default:0 }}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    ],
                    borderColor: colors[0],
                    backgroundColor: colors[0],
                    pointRadius: 0,
                    lineTension: 0,
                    yAxisID: "y-axis-0",
                },{
                    fill: false,
                    label: 'Bug Issues open',
                    data: [
                        {% for metric in metrics %}
                            {{ metric.github_bug_issues_now_open|default:0 }}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    ],
                    borderColor: colors[2],
                    backgroundColor: colors[2],
                    lineTension: 0,
                    yAxisID: "y-axis-1",
                }]
            }

            const options = {
                type: 'bar',
                data: data,
                options: {
                    fill: false,
                    responsive: true,
                    scales: {
                        xAxes: [{
                            type: 'time',
                            time: {
                                parser: 'YYYY-MM-DD HH:mm:ss',
                                displayFormats: {
                                    day: 'LL',
                                    week: 'ww/YYYY',
                                    month: 'MMM YYYY',
                                    quarter: 'Q YYYY',
                                    year: 'YYYY'
                                },
                            },
                            scaleLabel: {
                                display: true,
                                labelString: "Date",
                            }
                        }],
                        yAxes: [{
                            "id": "y-axis-0",
                            display: false
                        },{
                            "id": "y-axis-1",
                            display: false
                        }]
                    },
                    plugins: {
                        zoom: {
                            zoom: {
                                enabled: true,
                                drag: true,
                                mode: 'x',
                                speed: 0.1,
                            }
                        }
                    }
                }
            }
            const chart = new Chart(ctx, options);
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.0"></script>
</head>

<body>
    <small>
        {% for project in projects %}
            <a href="/?project={{ project.slug }}">{{ project.name }}</a>
            {% if not forloop.last %} | {% endif %}
        {% endfor %}
    </small>

    <h1>Project: {{ project.name }}</h1>
    <canvas id="main-chart"></canvas>

    <table>
        <tr>
            <td></td>
            <td>1 month</td>
            <td>6 months</td>
            <td>12 months</td>
        </tr>
        {% for metric_stat in metric_stats %}
        <tr>
            <td>{{ metric_stat.label }}</td>
            <td>{{ metric_stat.value1 }}</td>
            <td>{{ metric_stat.value2 }}</td>
            <td>{{ metric_stat.value3 }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>