<!DOCTYPE HTML>
<html>
<head>
    <script type="text/javascript">
        window.onload = function () {
            // CHART JS
            var timeFormat = 'MM/DD/YYYY HH:mm';

            const ctx = document.getElementById('myChart').getContext('2d');
            const data = {
                // Labels should be Date objects
                labels: [
                    {% for metric in metrics %}
                        moment("{{ metric.date|date:"c" }}").format('YYYY-MM-DD HH:mm:ss'){% if not forloop.last %},{% endif %}
                    {% endfor %}
                ],
                datasets: [/*{
                    fill: false,
                    label: 'Complexity',
                    data: [
                        {% for metric in metrics %}
                            {{ metric.complexity }}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    ],
                    borderColor: '#fe8b36',
                    backgroundColor: '#fe8b36',
                    lineTension: 0,
                    yAxisID: "y-axis-0",
                },{
                    fill: false,
                    label: 'Lines of code (loc)',
                    data: [
                        {% for metric in metrics %}
                            {{ metric.loc }}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    ],
                    borderColor: '#FFF236',
                    backgroundColor: '#FFF236',
                    lineTension: 0,
                    yAxisID: "y-axis-1",
                },*/{
                    fill: false,
                    label: 'Complexity',
                    data: [
                        {% for metric in metrics %}
                            {{ metric.complexity_per_loc }}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    ],
                    borderColor: '#FF3643',
                    backgroundColor: '#FF3643',
                    lineTension: 0,
                    yAxisID: "y-axis-2",
                },{
                    fill: false,
                    label: 'Gitlab Issues',
                    data: [
                        {% for metric in metrics %}
                            {{ metric.gitlab_bug_issues }}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    ],
                    borderColor: '#36FFF2',
                    backgroundColor: '#36FFF2',
                    lineTension: 0,
                    yAxisID: "y-axis-3",
                }]
            }

            const options = {
                type: 'line',
                data: data,
                options: {
                    fill: false,
                    responsive: true,
                    scales: {
                        xAxes: [{
                            type: 'time',
                            time: {
                                parser: 'YYYY-MM-DD HH:mm:ss',
                                displayFormats: {
                                    day: 'LL',
                                    week: 'ww/YYYY',
                                    month: 'MMM YYYY',
                                    quarter: 'Q YYYY',
                                    year: 'YYYY'
                                },
                            },
                            scaleLabel: {
                                display: true,
                                labelString: "Date",
                            }
                        }],
                        yAxes: [/*{
                            "id": "y-axis-0",
                            scaleLabel: {
                                display: false,
                                labelString: 'Y-Axis-0'
                            }
                        },{
                            "id": "y-axis-1",
                            scaleLabel: {
                                display: false,
                                labelString: 'Y-Axis-1'
                            }
                        },*/{
                            "id": "y-axis-2",
                            scaleLabel: {
                                display: false,
                                labelString: 'Y-Axis-2'
                            }
                        },{
                            "id": "y-axis-3",
                            scaleLabel: {
                                display: false,
                                labelString: 'Y-Axis-3'
                            }
                        }]
                    },
                    plugins: {
                        zoom: {
                            zoom: {
                                enabled: true,
                                drag: true,
                                mode: 'x',
                                speed: 0.1,
                            }
                        }
                    }
                }
            }
            const chart = new Chart(ctx, options);
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.0"></script>
</head>

<body>
    <h1>Project: {{ project.name }}</h1>
    <canvas id="myChart"></canvas>
</body>
</html>