<!DOCTYPE HTML>
<html>
<head>
    <script type="text/javascript">

        colors = ['#F20530', '#033E8C', '#04BFAD', '#F2AE2E'];

        window.onload = function () {
            // CHART JS
            var timeFormat = 'MM/DD/YYYY HH:mm';

            const ctx = document.getElementById('myChart').getContext('2d');
            const data = {
                // Labels should be Date objects
                labels: [
                    {% for metric in metrics %}
                        moment("{{ metric.date|date:"c" }}").format('YYYY-MM-DD HH:mm:ss'){% if not forloop.last %},{% endif %}
                    {% endfor %}
                ],
                datasets: [{
                    fill: false,
                    label: 'Complexity',
                    data: [
                        {% for metric in metrics %}
                            {{ metric.complexity|default:0 }}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    ],
                    borderColor: colors[0],
                    backgroundColor: colors[0],
                    lineTension: 0,
                    yAxisID: "y-axis-0",
                },{
                    fill: false,
                    label: 'Gitlab Issues',
                    data: [
                        {% for metric in metrics %}
                            {{ metric.gitlab_bug_issues|default:0 }}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    ],
                    borderColor: colors[1],
                    backgroundColor: colors[1],
                    lineTension: 0,
                    yAxisID: "y-axis-1",
                },{
                    fill: false,
                    label: 'Sentry Errors',
                    data: [
                        {% for metric in metrics %}
                            {{ metric.sentry_errors|default:0 }}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    ],
                    borderColor: colors[2],
                    backgroundColor: colors[2],
                    lineTension: 0,
                    yAxisID: "y-axis-2",
                }]
            }

            const options = {
                type: 'line',
                data: data,
                options: {
                    fill: false,
                    responsive: true,
                    scales: {
                        xAxes: [{
                            type: 'time',
                            time: {
                                parser: 'YYYY-MM-DD HH:mm:ss',
                                displayFormats: {
                                    day: 'LL',
                                    week: 'ww/YYYY',
                                    month: 'MMM YYYY',
                                    quarter: 'Q YYYY',
                                    year: 'YYYY'
                                },
                            },
                            scaleLabel: {
                                display: true,
                                labelString: "Date",
                            }
                        }],
                        yAxes: [{
                            "id": "y-axis-0",
                            scaleLabel: {
                                display: false,
                                labelString: 'Y-Axis-0'
                            }
                        },{
                            "id": "y-axis-1",
                            scaleLabel: {
                                display: false,
                                labelString: 'Y-Axis-1'
                            }
                        },{
                            "id": "y-axis-2",
                            scaleLabel: {
                                display: false,
                                labelString: 'Y-Axis-2'
                            }
                        }]
                    },
                    plugins: {
                        zoom: {
                            zoom: {
                                enabled: true,
                                drag: true,
                                mode: 'x',
                                speed: 0.1,
                            }
                        }
                    }
                }
            }
            const chart = new Chart(ctx, options);
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.0"></script>
</head>

<body>
    <h1>Project: {{ project.name }}</h1>
    <canvas id="myChart"></canvas>
</body>
</html>