{% extends "../base_app.html" %}
{% load static humanize %}


{% block head_end %}
    <script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@0.5.7/chartjs-plugin-annotation.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.7"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <script src="{% static "js/evolution-diagram.js" %}"></script>
    <script src="{% static "js/file-churn-diagram.js" %}"></script>
    <script src="{% static "js/problem-areas-chart.js" %}"></script>
    <script src="{% static "js/file-stats-charts.js" %}"></script>
    <script src="{% static "js/project.js" %}"></script>

    <script type="text/javascript">
        const chart_colors = ['#DD0F7E', '#0082A5', '#99cddb', '#82a500']; // https://www.color-hex.com/color/0082a5

        window.onload = function () {
            const labels = [  // Labels should be Date objects
                {% for metric in metrics %}
                    moment("{{ metric.date|date:"c" }}").format('YYYY-MM-DD HH:mm:ss'){% if not forloop.last %},{% endif %}
                {% endfor %}
            ];

            const complexityValues = [
                {% for metric in metrics %}
                    {{ metric.complexity|default:0 }}{% if not forloop.last %},{% endif %}
                {% endfor %}
            ];

            const openIssues = [
                {% for metric in metrics %}
                    {{ metric.github_issues_open|default:0 }}{% if not forloop.last %},{% endif %}
                {% endfor %}
            ];

            const issuesClosed = [
                {% for metric in metrics %}
                    {{ metric.github_issues_closed|default:0 }}{% if not forloop.last %},{% endif %}
                {% endfor %}
            ];

            const prsMerged = [
                {% for metric in metrics %}
                    {{ metric.github_pull_requests_merged|default:0 }}{% if not forloop.last %},{% endif %}
                {% endfor %}
            ];

            const avgPRAge = [
                {% for metric in metrics %}
                    {{ metric.github_avg_pull_request_age|default:0 }}{% if not forloop.last %},{% endif %}
                {% endfor %}
            ]

            const leadTimes = [
                {% for metric in metrics %}
                    {{ metric.github_issue_age|default:0 }}{% if not forloop.last %},{% endif %}
                {% endfor %}
            ];

            const releases = [
                {% for release in releases %}
                    {
                        date: moment("{{ release.timestamp|date:"c" }}").format('YYYY-MM-DD HH:mm:ss'),
                        name: "{{ release.name }}",
                    }
                    {% if not forloop.last %},{% endif %}
                {% endfor %}
            ];

            const evolutionDiagramFrequency = '{{ frequency }}';

            const evolutionDiagram = createEvolutionDiagram(
                "evolution-diagram",
                labels,
                complexityValues,
                issuesClosed,
                prsMerged,
                avgPRAge,
                releases,
                evolutionDiagramFrequency
            );

            const fileChurnFilenames = [
                {% for item in file_churn %}
                    '{{ item.file_path }}'
                    {% if not forloop.last %},{% endif %}
                {% endfor %}
            ];

            const fileChurnChanges = [
                {% for item in file_churn %}
                    {{ item.changes }}
                    {% if not forloop.last %},{% endif %}
                {% endfor %}
            ];

            const fileChurnDiagram = createFileChurnDiagram(
                "file-churn-diagram",
                fileChurnFilenames,
                fileChurnChanges
            );


            let updateFileStats = function(data) {
                const ctx = {
                    path: data.path,
                    link: data.link  // TODO: this is complete garbage....
                };

                let infoTemplate = `
                    <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="large-12 cell dashboard-card" style="margin-top: 0;">
                            <h5>Source file (on GitHub)</h5>
                            <h5><a href="${ctx.link}" target="_blank" id="file-details">${ctx.path}</a></h5>
                        </div>

                        <div class="large-12 cell dashboard-card">
                            <h5>Who owns the code in the file</h5>
                            <canvas id="diagram-code-ownership" style="width:100%; height: 8em;">
                            </canvas>
                        </div>

                        <div class="large-12 cell dashboard-card">
                            <h5>Who made changes</h5>
                             <p>(over the last 30 days)</p>
                            <canvas id="diagram-commit-count" style="width:100%; height: 8em;">
                            </canvas>
                        </div>

                        <div class="large-12 cell dashboard-card">
                            <h5>Number of file changes</h5>
                             <p>(over the last 30 days)</p>
                            <canvas id="diagram-changes" style="width:100%; height: 4em;">
                            </canvas>
                        </div>

                        <div class="large-12 cell dashboard-card">
                            <h5>Complexity trend</h5>
                             <p>(over the last 30 days)</p>
                            <canvas id="diagram-complexity" style="width:100%; height: 4em;">
                            </canvas>
                        </div>
                    </div>
                `;

                let elem = document.getElementById('file-information');
                elem.innerHTML = infoTemplate;

                let el = document.querySelector('#file-details');
                el && el.addEventListener('click', (element) => {
                    count('project.problem_areas.file_details.clicked');
                });

                console.log('complexity trend');
                console.log(data.complexity_trend);
                const complexityDiagram = createSparkline(
                    "diagram-complexity",
                    data.complexity_trend_labels,
                    data.complexity_trend,
                );

                console.log('changes trend');
                console.log(data.changes_trend);
                const changesDiagram = createSparkline(
                    "diagram-changes",
                    data.changes_trend_labels,
                    data.changes_trend,
                );

                const commitCountDiagram = createPieChart(
                    "diagram-commit-count",
                    data.commit_counts_labels,
                    data.commit_counts,
                );

                const codeOwnershipDiagram = createPieChart(
                    "diagram-code-ownership",
                    data.code_ownership_labels,
                    data.code_ownership,
                );
            };

            let fileClickCallback = function(path, link) {
                let elem = document.getElementById('file-information');
                elem.innerHTML = '';

                let projectSlug = document.querySelector('[name=projectslug]').value;
                fetch('/project/' + projectSlug + '/file-stats?path=' + path)
                    .then(response => response.json())
                    .then(updateFileStats);
            };

            const dataTree = {{ data_tree|safe }};
            const minChanges = {{ min_changes }};
            const maxChanges = {{ max_changes }};
            createProblemAreasDiagram("problem-areas-diagram", dataTree, minChanges, maxChanges, fileClickCallback);

            // Usage statistics
            let el = document.querySelector('#complexity-change');
            el && el.addEventListener('click', (element) => {
                count('project.trends.complexity_change.clicked');
            });
            el = document.querySelector('#link-open-issues');
            el && el.addEventListener('click', (element) => {
                count('project.trends.link_open_issues.clicked');
            });
            el = document.querySelector('#current-lead-time');
            el && el.addEventListener('click', (element) => {
                count('project.trends.current_lead_time.clicked');
            });
        }
    </script>
{% endblock head_end %}


{% block content %}
    <div class="grid-container">

        <!-- Bread crumbs -->
        <div class="grid-x grid-margin-x">
            <div class="large-12 cell">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'index' %}" id="show-repository-list">Repositories</a>
                    <i class="fas fa-chevron-right" style="color: #999; margin: 0 0.5em;"></i>
                    {{ project.github_repo_full_name }}
                {% endif %}
            </div>

            <div class="large-12 cell">
                &nbsp;
            </div>
        </div>

        <!-- Project Headline -->
        <div class="grid-x grid-margin-x">
            <div class="large-12 cell">
                <h1 id="toggle-log-history">
                    {% if project.status == 1 %}<i class="fas fa-check-circle green" title="Up to date"></i>{% endif %}
                    {% if project.status == 2 %}<i class="fas fa-dot-circle" title="Queued"></i>{% endif %}
                    {% if project.status == 3 %}<i class="fas fa-cog fa-spin yellow" title="Importing/Updating"></i>{% endif %}

                    <i id="log-history-arrow-button-down" class="fas fa-angle-down" title="Open history"></i>
                    <i id="log-history-arrow-button-up" class="fas fa-angle-up" title="Close history"></i>

                    {{ project.name }}
                    <small>
                        {% if project.private %}
                            / Private Repo
                        {% endif %}
                        {% if project.git_branch %}
                            / Branch: {{ project.git_branch }}
                        {% endif %}
                    </small>
                </h1>
                <div id="log-history">
                    <ul>
                        {% for log_entry in project.log_history %}
                            <li>{% if not log_entry.timestamp_end %}
                                    <i class="fas fa-cog fa-spin yellow" title="Running..."></i>
                                {% else %}
                                    <i class="fas fa-check-circle green" title="Finished"></i>
                                {% endif %}

                                {{ log_entry.message }}

                                <span class="timestamp">
                                {% if not log_entry.timestamp_end %}
                                    started {{ log_entry.timestamp_start|naturaltime }}
                                {% else %}
                                    finished {{ log_entry.timestamp_end|naturaltime }}
                                {% endif %}
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <!-- Project Links -->
        <div class="grid-x grid-margin-x show-for-large">
            <div class="large-12 cell large-text-right">
                {% if project.repo_url %}
                    <a href="{{ project.repo_url }}" target="_blank">Code Repository</a>
                {% endif %}
            </div>
        </div>

        <!-- Current Situation -->
        <div class="grid-x grid-margin-x grid-margin-y dashboard-card">
            <div class="large-12 cell">
                <h2><i class="fas fa-compass"></i> Current situation</h2>
            </div>

            <div class="large-4 cell" id="complexity-change">
                <div class="grid-x">
                    <div class="large-12 cell text-center">
                        {% if current_complexity_change > 0 %}
                            <div class="stat">+{{ current_complexity_change }} %</div>
                        {% elif current_complexity_change == 0 %}
                            <div class="stat">±{{ current_complexity_change }} %</div>
                        {% else %}
                            <div class="stat">{{ current_complexity_change }} %</div>
                        {% endif %}

                    </div>
                    <div class="large-12 cell text-center">
                        Complexity change over the last 30 days
                    </div>
                </div>
            </div>

            <div class="large-4 cell">
                <div class="grid-x">
                    <div class="large-12 cell text-center">
                        <div class="stat">
                            <a href="{{ project.github_repo_url }}/issues" target="_blank" id="link-open-issues">
                                {{ current_open_tickets }}
                            </a>
                        </div>
                    </div>
                    <div class="large-12 cell text-center">
                        Currently open issues
                    </div>
                </div>
            </div>

            <div class="large-4 cell" id="current-lead-time">
                <div class="grid-x">
                    <div class="large-12 cell text-center">
                        <div class="stat">
                            {{ current_avg_pull_request_age }} days
                        </div>
                    </div>
                    <div class="large-12 cell text-center">
                        Average PR age <i class="fas fa-question-circle" title="Number of days it currently takes to review and close pull requests."></i>
                    </div>
                </div>
            </div>

        </div>

        <!-- Work Areas -->
        <div class="grid-x grid-margin-x grid-margin-y dashboard-card">
            <div class="large-12 cell">
                <h2><i class="fas fa-tools"></i> Work areas</h2>
                <p>A bubble map of the places in your code base where most of the work was done over the last 30 days. Click on the bubbles to see who is doing the work.</p>
            </div>

            <!-- Graph -->
            <div class="large-8 cell dashboard-card">
                <div class="grid-x grid-padding-x grid-padding-y">
                    <div class="large-12 cell">
                        <div id="problem-areas-diagram"></div>
                    </div>
                    <!-- Legend -->
                    <div class="large-6 medium-6 small-6 cell">
                        <span class="change_frequency_gradient"></span> <br/>
                        Change frequency
                    </div>
                    <div class="auto cell">
                        <span class=circle1></span>
                        <span class=circle2></span>
                        <span class=circle3></span>
                        <span class=circle4></span>
                        <span class=circle5></span> <br/>
                        Code complexity
                    </div>
                </div>
            </div>
            <div class="large-4 small-12 cell">
                <div id="file-information"></div>
            </div>
        </div>

        <!-- File churn -->
        <div class="grid-x grid-margin-x grid-margin-y dashboard-card">
            <div class="large-12 cell">
                <h2><i class="fas fa-file"></i> File churn</h2>
                <p>All your files, sorted by how often they where changed over the last 30 days. The vast amount of work is done in a tiny portion of your code base.</p>
            </div>

            <!-- Graph -->
            <div class="large-12 cell">
                <div class="file-churn-container">
                    <canvas id="file-churn-diagram"></canvas>
                </div>
            </div>
            <div class="large-12 cell">
                <p id="file-churn-diagram-description">You made X changes to Y files of a total of Z files in your code base over the last 30 days.</p>
                <button type="button" id="file-churn-diagram-reset-zoom" class="button primary">reset zoom</button>
            </div>
            <!-- Top 5 change files-->
            <div class="large-12 cell">
                <h3>Top 5 "most changed files" over the last 30 days</h3>
                <ul>
                    {% for item in file_churn|slice:":5" %}
                        <li><a href="{{ item.repo_link }}" target="_blank">{{ item.file_path }}</a> - {{ item.changes }} changes</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <!-- Evolution -->
        <div class="grid-x grid-margin-x grid-margin-y dashboard-card">
            <div class="large-12 cell">
                <h2><i class="fas fa-chart-line"></i> Evolution</h2>
                <p>How is the complexity increasing in your code base? How many issues are you closing? Are you becoming faster or slower in closing issues?</p>
            </div>

            <div class="large-6 small-6 cell">
                Zoom:
                {% if zoom == '1M' %}<b>1M</b>{% else %}<a href="{% url 'project-detail' project.slug %}/1M" id="zoom-1m">1M</a>{% endif %}
                {% if zoom == '3M' %}<b>3M</b>{% else %}<a href="{% url 'project-detail' project.slug %}/3M" id="zoom-3m">3M</a>{% endif %}
                {% if zoom == '6M' %}<b>6M</b>{% else %}<a href="{% url 'project-detail' project.slug %}/6M" id="zoom-6m">6M</a>{% endif %}
                {% if zoom == '1Y' %}<b>1Y</b>{% else %}<a href="{% url 'project-detail' project.slug %}/1Y" id="zoom-1y">1Y</a>{% endif %}
                {% if zoom == 'YTD' %}<b>YTD</b>{% else %}<a href="{% url 'project-detail' project.slug %}/YTD" id="zoom-ytd">YTD</a>{% endif %}
                {% if zoom == 'ALL' %}<b>ALL</b>{% else %}<a href="{% url 'project-detail' project.slug %}/ALL" id="zoom-all">ALL</a>{% endif %}
            </div>
            <div class="large-5 small-9 cell large-text-right">
                Show releases on diagram?
            </div>
            <div class="large-1 small-3 cell text-right">
                <div class="switch tiny">
                    <input class="switch-input" id="show-releases" type="checkbox" name="show-releases" {% if show_releases %}checked{% endif %}>
                    <label class="switch-paddle" for="show-releases">
                        <span class="show-for-sr">Show releases on diagram?</span>
                        <span class="switch-active" aria-hidden="true">Yes</span>
                        <span class="switch-inactive" aria-hidden="true">No</span>
                    </label>
                </div>
            </div>

            <div class="large-12 cell" style="padding: 0 1em;">
                <div class="diagram-container">
                    <canvas id="evolution-diagram"></canvas>
                </div>
            </div>
        </div>

    </div>
{% endblock content %}


{% block body_end %}
    <script>
        let releaseSwitch = document.querySelector('#show-releases');
        releaseSwitch.onclick = function() {
            oldUrl = window.location.href;
            if(releaseSwitch.checked) {
                newUrl = oldUrl.replace('/no-releases', '');
            } else {
                if(!oldUrl.match(/\/no\-releases$/)) {
                    newUrl = oldUrl + '/no-releases';
                } else {
                    newUrl = oldUrl;
                }
            }
            window.location.replace(newUrl);
        };
    </script>
{% endblock body_end %}
