{% extends "../base_app.html" %}
{% load static humanize %}

{% block head_end %}
    <script type="text/javascript" src="https://d3js.org/d3.v5.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <script type="text/javascript" src="{% static "js/evolution-diagram.js" %}"></script>
    <script type="text/javascript" src="{% static "js/file-churn-diagram.js" %}"></script>
    <script type="text/javascript" src="{% static "js/problem-areas-chart.js" %}"></script>
    <script type="text/javascript" src="{% static "js/file-stats-charts.js" %}"></script>
    <script type="text/javascript" src="{% static "js/project.js" %}"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <script type="text/javascript">
        const chart_colors = ['#DD0F7E', '#0082A5', '#99cddb', '#82a500']; // https://www.color-hex.com/color/0082a5

        const setupDateRangePicker = function() {
            let start = moment().subtract(14, 'days');
            let end = moment();
            $('#reportrange span').html(start.format('MMM D, YYYY') + ' - ' + end.format('MMM D, YYYY'));

            function cb(start, end) {
                $('#reportrange span').html(start.format('MMM D, YYYY') + ' - ' + end.format('MMM D, YYYY'));
                window.projectDateFrom = start;
                window.projectDateTo = end;
                loadProject(window.projectId);
            }

            $('#reportrange').daterangepicker({
                startDate: start,
                endDate: end,
                ranges: {
                   'Last 14 Days': [moment().subtract(14, 'days'), moment()],
                   'Last 30 Days': [moment().subtract(30, 'days'), moment()],
                   'Last 3 Months': [moment().subtract(3, 'months'), moment()],
                   'Last 6 Months': [moment().subtract(6, 'months'), moment()],
                   'This Month': [moment().startOf('month'), moment().endOf('month')],
                   'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                   'This Year': [moment().startOf('year'), moment().endOf('year')],
                   'Last Year': [moment().subtract(1, 'year').startOf('year'), moment().subtract(1, 'year').endOf('year')]
                }
            }, cb);
        }

        window.onload = function () {
            window.projectId = {{ project.pk }};
            loadProject(window.projectId);

            setupDateRangePicker();

            let updateFileStats = function(data) {
                const ctx = {
                    path: data.path,
                    link: data.link  // TODO: this is complete garbage....
                };

                let infoTemplate = `
                    <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="large-12 cell dashboard-card" style="margin-top: 0;">
                            <h5>Source file (on GitHub)</h5>
                            <h5><a href="${ctx.link}" target="_blank" id="file-details">${ctx.path}</a></h5>
                        </div>

                        <div class="large-12 cell dashboard-card">
                            <h5>Who owns the code in the file</h5>
                            <canvas id="diagram-code-ownership" style="width:100%; height: 8em;">
                            </canvas>
                        </div>

                        <div class="large-12 cell dashboard-card">
                            <h5>Who made changes</h5>
                             <p>(over the last 30 days)</p>
                            <canvas id="diagram-commit-count" style="width:100%; height: 8em;">
                            </canvas>
                        </div>

                        <div class="large-12 cell dashboard-card">
                            <h5>Number of file changes</h5>
                             <p>(over the last 30 days)</p>
                            <canvas id="diagram-changes" style="width:100%; height: 4em;">
                            </canvas>
                        </div>

                        <div class="large-12 cell dashboard-card">
                            <h5>Complexity trend</h5>
                             <p>(over the last 30 days)</p>
                            <canvas id="diagram-complexity" style="width:100%; height: 4em;">
                            </canvas>
                        </div>
                    </div>
                `;

                let elem = document.getElementById('file-information');
                elem.innerHTML = infoTemplate;

                let el = document.querySelector('#file-details');
                el && el.addEventListener('click', (element) => {
                    count('project.problem_areas.file_details.clicked');
                });

                console.log('complexity trend');
                console.log(data.complexity_trend);
                const complexityDiagram = createSparkline(
                    "diagram-complexity",
                    data.complexity_trend_labels,
                    data.complexity_trend,
                );

                console.log('changes trend');
                console.log(data.changes_trend);
                const changesDiagram = createSparkline(
                    "diagram-changes",
                    data.changes_trend_labels,
                    data.changes_trend,
                );

                const commitCountDiagram = createPieChart(
                    "diagram-commit-count",
                    data.commit_counts_labels,
                    data.commit_counts,
                );

                const codeOwnershipDiagram = createPieChart(
                    "diagram-code-ownership",
                    data.code_ownership_labels,
                    data.code_ownership,
                );
            };

            let fileClickCallback = function(path, link) {
                let elem = document.getElementById('file-information');
                elem.innerHTML = '';

                let projectSlug = document.querySelector('[name=projectslug]').value;
                fetch('/project/' + projectSlug + '/file-stats?path=' + path)
                    .then(response => response.json())
                    .then(updateFileStats);
            };

            const dataTree = {{ data_tree|safe }};
            const minChanges = {{ min_changes }};
            const maxChanges = {{ max_changes }};
            createProblemAreasDiagram("problem-areas-diagram", dataTree, minChanges, maxChanges, fileClickCallback);

            // Usage statistics
            let el = document.querySelector('#complexity-change');
            el && el.addEventListener('click', (element) => {
                count('project.trends.complexity_change.clicked');
            });
            el = document.querySelector('#link-open-issues');
            el && el.addEventListener('click', (element) => {
                count('project.trends.link_open_issues.clicked');
            });
            el = document.querySelector('#current-lead-time');
            el && el.addEventListener('click', (element) => {
                count('project.trends.current_lead_time.clicked');
            });
        }
    </script>
{% endblock head_end %}


{% block content %}
    <div class="grid-container">

        <!-- Bread crumbs -->
        <div class="grid-x grid-margin-x">
            <div class="large-8 medium-6 small-12 cell">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'index' %}" id="show-repository-list">Repositories</a>
                    <i class="fas fa-chevron-right" style="color: #999; margin: 0 0.5em;"></i>
                    {{ project.github_repo_full_name }}
                {% endif %}
            </div>

            <div class="large-4 medium-6 small-12 text-right cell">
                <span id="reportrange" style="background: #fff; cursor: pointer; padding: 0.6em; border: 1px solid #ccc;">
                    <i class="fa fa-calendar"></i>&nbsp;
                    <span></span> <i class="fa fa-caret-down"></i>
                </span>
            </div>
        </div>

        <!-- Project Headline -->
        <div class="grid-x grid-margin-x">
            <div class="large-12 cell">
                <h1 id="toggle-log-history">
                    {% if project.status == 1 %}<i class="fas fa-check-circle green" title="Up to date"></i>{% endif %}
                    {% if project.status == 2 %}<i class="fas fa-dot-circle" title="Queued"></i>{% endif %}
                    {% if project.status == 3 %}<i class="fas fa-cog fa-spin yellow" title="Importing/Updating"></i>{% endif %}

                    <i id="log-history-arrow-button-down" class="fas fa-angle-down" title="Open history"></i>
                    <i id="log-history-arrow-button-up" class="fas fa-angle-up" title="Close history"></i>

                    {{ project.name }}
                    <small>
                        {% if project.private %}
                            / Private Repo
                        {% endif %}
                        {% if project.git_branch %}
                            / Branch: {{ project.git_branch }}
                        {% endif %}
                    </small>
                </h1>
                <div id="log-history">
                    <ul>
                        {% for log_entry in project.log_history %}
                            <li>{% if not log_entry.timestamp_end %}
                                    <i class="fas fa-cog fa-spin yellow" title="Running..."></i>
                                {% else %}
                                    <i class="fas fa-check-circle green" title="Finished"></i>
                                {% endif %}

                                {{ log_entry.message }}

                                <span class="timestamp">
                                {% if not log_entry.timestamp_end %}
                                    started {{ log_entry.timestamp_start|naturaltime }}
                                {% else %}
                                    finished {{ log_entry.timestamp_end|naturaltime }}
                                {% endif %}
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <!-- Project Links -->
        <div class="grid-x grid-margin-x show-for-large">
            <div class="large-12 cell large-text-right">
                {% if project.repo_url %}
                    <a href="{{ project.repo_url }}" target="_blank">Code Repository</a>
                {% endif %}
            </div>
        </div>

        <!-- State of affairs -->
        <div class="grid-x grid-margin-x grid-margin-y dashboard-card">
            <div class="large-12 cell">
                <h2><i class="fas fa-compass"></i> State of affairs</h2>
                <p>This periods metrics compared to the previous period.</p>
            </div>

            <!-- Complexity -->
            <div class="large-4 cell">
                <div class="grid-x">
                    <div class="large-12 cell text-center">
                        <div id="complexity-trend" class="stat">
                            <i class="fas fa-caret-down"></i><span>0</span>%
                        </div>
                    </div>
                    <div id="complexity" class="large-12 cell text-center">
                        <div class="trend"><span style="display: none;"></span>&nbsp;</div>
                        Complexity
                    </div>
                </div>
            </div>

            <!-- Issue Age -->
            <div class="large-4 cell">
                <div class="grid-x">
                    <div class="large-12 cell text-center">
                        <div class="stat" id="issue-age">
                            <span>0</span> days
                        </div>
                    </div>
                    <div class="large-12 cell text-center">
                        <div id="issue-age-trend" class="trend">(<i class="fas fa-caret-down"></i><span>0</span>%)</div>
                        Issue Age <small><a href="#evoltion-of-issues">learn more</a></small>
                    </div>
                </div>
            </div>

            <!-- PR age -->
            <div class="large-4 cell" id="current-lead-time">
                <div class="grid-x">
                    <div class="large-12 cell text-center">
                        <div class="stat" id="pr-age">
                            <span>0</span> days
                        </div>
                    </div>
                    <div class="large-12 cell text-center">
                        <div id="pr-age-trend" class="trend">(<i class="fas fa-caret-down"></i><span>0</span>%)</div>
                        Pull Request Age <small><a href="#evolution-of-prs">learn more</a></small>
                    </div>
                </div>
            </div>

        </div>

        <!-- Evolution of issues -->
        <div class="grid-x grid-margin-x grid-margin-y dashboard-card">
            <a name="evoltion-of-issues"></a>
            <div class="large-12 cell">
                <h2><i class="fas fa-chart-line"></i> Evolution of Issues</h2>
                <p>How many issues are you closing? Are you becoming faster or slower in closing issues? Is this affected by the complexity of the system?</p>
            </div>

            <div class="large-12 cell" style="padding: 0 1em;">
                <div id="evolution-issues-diagram"></div>
            </div>
        </div>

        <!-- Evolution of pull requests -->
        <div class="grid-x grid-margin-x grid-margin-y dashboard-card">
            <a name="evolution-of-prs"></a>
            <div class="large-12 cell">
                <h2><i class="fas fa-chart-line"></i> Evolution of Pull Requests (PRs)</h2>
                <p>How many pull requests are you closing? Are you becoming faster or slower in closing pull requests? Is this affected by the complexity of the system?</p>
            </div>

            <div class="large-12 cell" style="padding: 0 1em;">
                <div id="evolution-pull-requests-diagram"></div>
            </div>
        </div>

        <!-- File Churn -->
        <div class="grid-x grid-margin-x grid-margin-y dashboard-card">
            <a name="file-churn"></a>
            <div class="large-12 cell">
                <h2><i class="fas fa-file"></i> File churn</h2>
                <p>All your files, sorted by how often they where changed. The vast amount of work is done in a tiny portion of your code base.</p>
            </div>

            <!-- Graph -->
            <div class="large-12 cell" style="padding: 0 1em;">
                <div id="file-churn-diagram"></div>
            </div>

            <!-- Explanation text below graph -->
            <div class="large-12 cell">
                <p id="file-churn-diagram-description">&nbsp;</p>
            </div>

            <!-- List: Top 5 changed files-->
            <div class="large-12 cell">
                <h3>Top 5 "most changed files"</h3>
                <ul id="file-churn-top5-list"></ul>
            </div>
        </div>

        <!-- Work Areas -->
        <div class="grid-x grid-margin-x grid-margin-y dashboard-card">
            <div class="large-12 cell">
                <h2><i class="fas fa-tools"></i> Work areas</h2>
                <p>A bubble map of the places in your code base where most of the work was done over the last 30 days. Click on the bubbles to see who is doing the work.</p>
            </div>

            <!-- Graph -->
            <div class="large-8 cell dashboard-card">
                <div class="grid-x grid-padding-x grid-padding-y">
                    <div class="large-12 cell">
                        <div id="problem-areas-diagram"></div>
                    </div>
                    <!-- Legend -->
                    <div class="large-6 medium-6 small-6 cell">
                        <span class="change_frequency_gradient"></span> <br/>
                        Change frequency
                    </div>
                    <div class="auto cell">
                        <span class=circle1></span>
                        <span class=circle2></span>
                        <span class=circle3></span>
                        <span class=circle4></span>
                        <span class=circle5></span> <br/>
                        Code complexity
                    </div>
                </div>
            </div>
            <div class="large-4 small-12 cell">
                <div id="file-information"></div>
            </div>
        </div>

    </div>
{% endblock content %}
