{% load static %}
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Codefrog</title>
        <link rel="stylesheet" href="{% static "css/foundation.min.css" %}">
        <link rel="stylesheet" href="{% static "css/app.css" %} ">
    </head>
</head>

<body>
    <div class="header">
        <div class="grid-container" style="height: 4em;">
            <!-- Header -->
            <div class="grid-x grid-margin-x grid-padding-y text-center large-text-left">
                <div class="large-6 cell">
                    <a href="{% url 'index' %}">Codefrog</a>
                </div>
                <div class="large-6 cell text-right">
                    <a href="{% url 'logout' %}" style="font-size: 3em; margin-top: -0.35em; display: inline-block;">x</a>
                    <a href="{% url 'user-settings' user %}" style="font-size: 3em; margin-top: -0.35em; display: inline-block;">⚙</a>
                </div>

            </div>
        </div>
    </div>
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <!-- Projects -->
            <div class="large-12 cell">
                <h2>Projects</h2>
            </div>

            <div class="large-12 cell">
                <table>
                    {% for project in projects %}
                        <tr>
                            {% if project.active %}
                                <td>
                                    <h3 style="margin: 0;">
                                        {% if project.private %}🔒{% endif %} <a href="{% url 'project-detail' slug=project.slug %}">{{ project.github_repo_full_name }}</a>
                                    </h3>
                                </td>
                                <td class="text-right">
                                    <a href="{% url 'project-toggle' username=user.username project_slug=project.slug %}" class="button secondary" style="margin: 0;">deactivate</a>
                                </td>

                            {% else %}
                                <td>
                                    <h3 class="subheader"  style="margin: 0;">
                                        {% if project.private %}🔒{% endif %} {{ project.github_repo_full_name }}
                                    </h3>
                                </td>
                                <td class="text-right">
                                    <a href="{% url 'project-toggle' username=user.username project_slug=project.slug %}" class="button primary" style="margin: 0;">activate</a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
                </ul>
            </div>
        </div>

    </div>
    <script>
</body>
</html>