{% load static %}
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Codefrog - Manage your technical debt. Keep code quality high. Minimize lead time.</title>
        <link rel="stylesheet" href="{% static "css/foundation.min.css" %}">
        <link rel="stylesheet" href="{% static "css/app.css" %}">
        <script src="https://kit.fontawesome.com/ed7547b377.js" crossorigin="anonymous"></script>
    </head>

    <script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@0.5.7/chartjs-plugin-annotation.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <script src="{% static "js/app.js" %}"></script>

    <script type="text/javascript">
        //colors = ['#DD0F7E', '#009BBE', '#A8DA00', '#F2E205', '#EE5A02'];
        colors = ['#DD0F7E', '#009BBE', 'rgba(168, 218, 0, 0.6)', '#F2E205', '#EE5A02'];

        window.onload = function () {
            // CHART JS
            var timeFormat = 'MM/DD/YYYY HH:mm';

            const ctx = document.getElementById('main-chart').getContext('2d');
            const data = {
                // Labels should be Date objects
                labels: [
                    {% for metric in metrics %}
                        moment("{{ metric.date|date:"c" }}").format('YYYY-MM-DD HH:mm:ss'){% if not forloop.last %},{% endif %}
                    {% endfor %}
                ],
                datasets: [{
                    label: 'System complexity',
                    type: 'line',
                    data: [
                        {% for metric in metrics %}
                            {{ metric.complexity|default:0 }}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    ],
                    fill: false,
                    borderColor: colors[0],
                    borderDash: [10, 5],
                    backgroundColor: colors[0],
                    pointRadius: 4,
                    lineTension: 0,
                    cubicInterpolationMode: 'monotone',
                    yAxisID: "y-axis-0",
                }, {
                    label: 'Open issues in issue tracker',
                    data: [
                        {% for metric in metrics %}
                            {{ metric.github_issues_open|default:0 }}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    ],
                    fill: false,
                    borderColor: colors[1],
                    backgroundColor: colors[1],
                    lineTension: 0,
                    yAxisID: "y-axis-1",
                }, {
                    label: 'Days to close ticket',
                    data: [
                        {% for metric in metrics %}
                            {{ metric.github_issue_age|default:0 }}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    ],
                    fill: false,
                    borderColor: colors[2],
                    backgroundColor: colors[2],
                    lineTension: 0,
                    yAxisID: "y-axis-2",
                }]
            };

            const releases = [
                {% for release in releases %}
                    {
                        type: "line",
                        mode: "vertical",
                        scaleID: "x-axis-0",
                        value: moment("{{ release.timestamp|date:"c" }}").format('YYYY-MM-DD HH:mm:ss'),
                        borderColor: "red",
                        label: {
                            content: "{{ release.name }}",
                            enabled: true,
                            position: "bottom"
                        }
                    }{% if not forloop.last %},{% endif %}
                {% endfor %}
            ];

            const options = {
                type: 'bar',
                data: data,
                options: {
                    fill: false,
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        xAxes: [{
                            "id": "x-axis-0",
                            type: 'time',
                            distribution: 'linear',
                            time: {
                                parser: 'YYYY-MM-DD HH:mm:ss',
                                displayFormats: {
                                    day: 'LL',
                                    week: '[Week] WW - YYYY',
                                    month: 'MMM YYYY',
                                    quarter: '[Q]Q - YYYY',
                                    year: 'YYYY'
                                },
                            },
                            scaleLabel: {
                                display: true,
                                labelString: "Date",
                            }
                        }],
                        yAxes: [{
                            "id": "y-axis-0",
                            display: false
                        }, {
                            "id": "y-axis-1",
                            display: false,
                            ticks: {
                                beginAtZero: true
                            }
                        }, {
                            "id": "y-axis-2",
                            display: false,
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    },
                    legend: {
                        position: 'bottom'
                    },
                    annotation: {
                        annotations: releases
                    },
                    tooltips: {
                        callbacks: {
                            title: function (tooltipItem, data) {
                                const frequency = '{{ frequency }}';
                                const formatStrings = {
                                    'D': 'LL',
                                    'W': '[Week] WW - YYYY',
                                    'M': 'MMM YYYY',
                                    'Q': '[Q]Q - YYYY'
                                };
                                let date = moment(tooltipItem[0].xLabel);
                                title = date.format(formatStrings[frequency] || 'D');
                                return title;
                            }
                        }
                    }
                }
            };
            const chart = new Chart(ctx, options);

            // TODO: nachdenken:
            // Soll es zuerst möglich sein seine eigenen repos zu aktivieren.
            // oder solles zuerst möglcih sein open source repos zu importiern?
            // oder beides?
            // das hängt jetzt von der marketing strategie ab. wenn ich den oss maintainer ihr project zeig ist das cool,
            // dann wär aber auch cool wenn ich ihnen gleich sagen kann: installier dir die github app. ist super easy!

            // TODO: soll ich heute da deployment mal wieder angehen? Oder zumindest mal aktualsieren
            // TODO: mehrere github apps für "local"/"staging/ und production?

            // TODO: move JS to .js file (whitenoise?)
            // TODO: make JS function for creating chart in #source-chart-container
            // TODO: add JS function to create ownership chart in #ownership-chart-container

            const dataTree = {{ data_tree|safe }};
            const minChanges = {{ min_changes }};
            const maxChanges = {{ max_changes }};
            createComplexityDiagram("#source-chart-container", dataTree, minChanges, maxChanges);
        }
    </script>
</head>

<body>
    <div class="header">
        <div class="grid-container">
            <!-- Header -->
            <div class="grid-x grid-margin-x grid-padding-y text-center large-text-left">
                <div class="large-12 cell">
                    <a href="{% url 'index' %}">Codefrog</a>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-container">
        <!-- Project Headline -->
        <div class="grid-x grid-margin-x">
            <div class="large-12 cell">
                <h1>{{ project.name }} <small>{% if project.private %}🔒{% endif %} </small></h1>
            </div>
        </div>

        <!-- Project Links -->
        <div class="grid-x grid-margin-x show-for-large">
            <div class="large-12 cell large-text-right">
                {% if project.repo_url %}
                    <a href="{{ project.repo_url }}" target="_blank">Code Repository</a>
                {% endif %}
            </div>
        </div>

        <div class="large-12 cell">
            <h2>Evolution of the system </h2>
        </div>

        <!-- Trends -->
        <div class="grid-x grid-margin-x grid-padding-y">
            <div class="large-3 small-6 cell">
                Zoom:
                {% if zoom == '1M' %}<b>1M</b>{% else %}<a href="{% url 'project-detail' project.slug %}/1M">1M</a>{% endif %}
                {% if zoom == '3M' %}<b>3M</b>{% else %}<a href="{% url 'project-detail' project.slug %}/3M">3M</a>{% endif %}
                {% if zoom == '6M' %}<b>6M</b>{% else %}<a href="{% url 'project-detail' project.slug %}/6M">6M</a>{% endif %}
                {% if zoom == '1Y' %}<b>1Y</b>{% else %}<a href="{% url 'project-detail' project.slug %}/1Y">1Y</a>{% endif %}
                {% if zoom == 'YTD' %}<b>YTD</b>{% else %}<a href="{% url 'project-detail' project.slug %}/YTD">YTD</a>{% endif %}
                {% if zoom == 'ALL' %}<b>ALL</b>{% else %}<a href="{% url 'project-detail' project.slug %}/ALL">ALL</a>{% endif %}
            </div>
            <div class="large-3 small-6 cell text-right large-text-left">
                (Frequency: {{ frequency }})
            </div>
            <div class="large-5 small-9 cell large-text-right">
                Show releases on chart?
            </div>
            <div class="large-1 small-3 cell text-right">
                <div class="switch tiny">
                    <input class="switch-input" id="show_releases" type="checkbox" name="show_releases" {% if show_releases %}checked{% endif %}>
                    <label class="switch-paddle" for="show_releases">
                        <span class="show-for-sr">Show releases on chart?</span>
                        <span class="switch-active" aria-hidden="true">Yes</span>
                        <span class="switch-inactive" aria-hidden="true">No</span>
                    </label>
                </div>
            </div>

            <div class="large-12 cell" style="padding: 0 1em;">
                <div class="chart-container">
                    <canvas id="main-chart"></canvas>
                </div>
            </div>
        </div>

        <!-- State of the system -->
        <div class="grid-x grid-margin-x align-bottom" style="padding-top: 3em;">
            <div class="large-6 cell">
                <h2>Current state of the system</h2>
            </div>
            <div class="large-3 cell">
                <span class="change_frequency_gradient"></span> <br/>
                Change frequency
            </div>
            <div class="large-3 cell">
                <span class=circle1></span>
                <span class=circle2></span>
                <span class=circle3></span>
                <span class=circle4></span>
                <span class=circle5></span> <br/>
                Code complexity
            </div>
        </div>

        <!-- Graph -->
        <div class="grid-x grid-margin-x grid-padding-y" style="padding: 0 1em;">
            <div class="large-8 cell">
                <div id="source-chart-container"></div>
            </div>
            <div class="large-4 cell">
                <div id="source-information">
                    <h1></h1>
                </div>
            </div>
        </div>

    </div>
    <script>
        var releaseSwitch = document.querySelector('#show_releases');
        releaseSwitch.onclick = function() {
            oldUrl = window.location.href;
            if(releaseSwitch.checked) {
                newUrl = oldUrl.replace('/no-releases', '');
            } else {
                if(!oldUrl.match(/\/no\-releases$/)) {
                    newUrl = oldUrl + '/no-releases';
                } else {
                    newUrl = oldUrl;
                }
            }
            window.location.replace(newUrl);
        };
    </script>
</body>
</html>