<!DOCTYPE HTML>
<html>
<head>
    <script type="text/javascript">
        //colors = ['#DD0F7E', '#009BBE', '#A8DA00', '#F2E205', '#EE5A02'];
        colors = ['#DD0F7E', '#009BBE', 'rgba(168, 218, 0, 0.6)', '#F2E205', '#EE5A02'];

        window.onload = function () {
            // CHART JS
            var timeFormat = 'MM/DD/YYYY HH:mm';

            const ctx = document.getElementById('main-chart').getContext('2d');
            const data = {
                // Labels should be Date objects
                labels: [
                    {% for metric in metrics %}
                        moment("{{ metric.date|date:"c" }}").format('YYYY-MM-DD HH:mm:ss'){% if not forloop.last %},{% endif %}
                    {% endfor %}
                ],
                datasets: [{
                    fill: false,
                    label: 'Complexity',
                    type: 'line',
                    data: [
                        {% for metric in metrics %}
                            {{ metric.complexity|default:0 }}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    ],
                    borderColor: colors[0],
                    backgroundColor: colors[0],
                    pointRadius: 0,
                    lineTension: 0,
                    cubicInterpolationMode: 'monotone',
                    yAxisID: "y-axis-0",
                },{
                    fill: false,
                    label: 'Defects in issue tracker',
                    data: [
                        {% for metric in metrics %}
                            {{ metric.github_bug_issues_now_open|default:0 }}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    ],
                    borderColor: colors[2],
                    backgroundColor: colors[2],
                    lineTension: 0,
                    yAxisID: "y-axis-1",
                },{
                    fill: false,
                    label: 'Avg days to fix defect',
                    data: [
                        {% for metric in metrics %}
                            {{ metric.github_bug_issues_avg_days_open|default:0 }}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    ],
                    borderColor: colors[1],
                    backgroundColor: colors[1],
                    lineTension: 0,
                    yAxisID: "y-axis-2",
                }]
            }

            const options = {
                type: 'bar',
                data: data,
                options: {
                    fill: false,
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        xAxes: [{
                            "id": "x-axis-0",
                            type: 'time',
                            time: {
                                parser: 'YYYY-MM-DD HH:mm:ss',
                                displayFormats: {
                                    day: 'LL',
                                    week: 'ww/YYYY',
                                    month: 'MMM YYYY',
                                    quarter: 'Q YYYY',
                                    year: 'YYYY'
                                },
                            },
                            scaleLabel: {
                                display: true,
                                labelString: "Date",
                            }
                        }],
                        yAxes: [{
                            "id": "y-axis-0",
                            display: false
                        },{
                            "id": "y-axis-1",
                            display: false
                        },{
                            "id": "y-axis-2",
                            display: false
                        }]
                    },
                    legend: {
                        position: 'bottom'
                    },
                    plugins: {
                        zoom: {
                            zoom: {
                                enabled: true,
                                drag: true,
                                mode: 'x',
                                speed: 0.1,
                            }
                        }
                    },
                    annotation: {
                        annotations: [
                          {
                            type: "line",
                            mode: "vertical",
                            scaleID: "x-axis-0",
                            value: "2019-05-01 00:00:00",
                            borderColor: "red",
                            label: {
                              content: "V2.2.4",
                              enabled: true,
                              position: "bottom"
                            }
                          }
                        ]
                      }
                }
            }
            const chart = new Chart(ctx, options);
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@0.5.7/chartjs-plugin-annotation.min.js"></script>
</head>

<body>
    <small>
        <a href="{% url 'index' %}">Home</a>
    </small>

    <h1>Project: {{ project.name }}</h1>
    <canvas id="main-chart"></canvas>
</body>
</html>