{% load static %}
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Project Settings</title>
        <link rel="stylesheet" href="{% static "css/foundation.min.css" %}">
        <link rel="stylesheet" href="{% static "css/app.css" %} ">
        <script src="https://kit.fontawesome.com/ed7547b377.js" crossorigin="anonymous"></script>
    </head>
</head>

<body>
    <div class="header">
        <div class="grid-container">
            <!-- Header -->
            <div class="grid-x grid-margin-x grid-padding-y text-center large-text-left">
                <div class="large-12 cell">
                    <a href="{% url 'index' %}">Codefrog</a>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="large-12 cell">
                <h1>Project Settings</h1>
            </div>
        </div>

    </div>
    <script>
</body>
</html>