body.bg {
    background-image: url('/static/website/images/bg-abstract-white.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
/* general stuff */
.even {
    background: #fff;
}
.odd {
    background: #f7f7f9;
}
.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* controls */
.button {
    box-shadow: none;
}
.button:hover, .button:focus {
    box-shadow: none;
}
.button.primary {
    background: #ffac33;
    color: #000;
}
.button.primary:hover, .button.primary:focus {
    background: #ffac33;
}
.button.clear {
    color: #000;
    box-shadow: none;
}
.button:hover, .button:focus {
    color: #000;
    box-shadow: inset 0 -20px 0 -1px #ffac33;
}

a {
    color: #000;
    box-shadow: inset 0 -4px 0 -1px #ffac33;
}
a:hover, a:focus {
    color: #000;
    box-shadow: inset 0 -15px 0 -1px #ffac33;
}
/*
    Sections
 */
.section {
    padding: 5em 0;
}

/* section: header */
.section.header {
    margin-top: 1em;
    padding: 0;
}
.section.header .logo {
    height: 2.5em;
    margin: 0;
}
/* section: introduction */
.section.introduction {
    padding-bottom: 6em;
}
.section.introduction .logo {
    height: 4.5em;
    margin: 2em 0;
}
.section.show-cases {
}
/* section: show cases */
.lang-typescript {
    background: #294E80;
    color: #fff;
    padding: 5px 15px;
    border-radius: 10px;
    text-shadow: none;
}
.lang-go {
    background: #007d9c;
    color: #fff;
    padding: 5px 15px;border-radius: 10px;
    text-shadow: none;
    font-weight: bold;
}
.lang-java {
    background: #f9001d;
    color: #fff;
    padding: 5px 15px;
    border-radius: 10px;
    text-shadow: none;
    font-weight: bold;
}
.contributors {
    white-space: nowrap;
    background: #dfdfdf;
    color: #555;
    padding: 5px 15px;
    border-radius: 10px;
    text-shadow: none;
}
.contributors .count {
    font-weight: bold;
    color: #000;
}
/* section: call to action 1*/
.section.call-to-action1 {
}
/* section: footer */
.section.footer {
    margin-top: 20em;
    margin-bottom: 5em;
}
