{% load static %}
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159000195-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-159000195-1');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codefrog - Manage your technical debt. Minimize lead time. Keep code quality high.</title>
    <link rel="stylesheet" href="{% static "css/foundation.min.css" %}">
    <link rel="stylesheet" href="{% static "css/website.css" %} ">
    <script src="https://kit.fontawesome.com/ed7547b377.js" crossorigin="anonymous"></script>

    <link rel="apple-touch-icon" sizes="512x512" href="{% static 'images/favicon/codefrog_512x512.png' %}">
    <link rel="apple-touch-icon" sizes="192x192" href="{% static 'images/favicon/codefrog_192x192.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/codefrog_apple-touch-icon.png' %}">

    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/codefrog_32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/codefrog_16x16.png' %}">

    <link rel="shortcut icon" href="{% static 'images/favicon/codefrog.ico' %}">
</head>
<body class="bg landingpage">
<!-- Header -->
<div class="section header">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell large-6">
                {% block header_left %}{% endblock header_left %}
            </div>
            <div class="cell large-6 text-right">
                {% block header_rigth %}{% endblock header_rigth %}
                <a href="{% url 'pricing' %}" class="button clear">
                    Pricing
                </a>
                <a href="{{ github_sign_in_url }}" class="button clear">
                    Sign in
                </a>
            </div>
        </div>
    </div>
</div>

{% block content %}{% endblock content %}

<!-- Footer -->
<div class="section footer">
    <div class="grid-container">
        <div class="grid-x grid-padding-x grid-margin-x grid-margin-y">
            <div class="large-12 cell text-center">
                Made with 🐸 by Anton Pirker. Contact:&nbsp;<a href="mailto:anton@ignaz.at">anton@ignaz.at</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
