{% extends "base_website.html" %}

{% load static %}

{% block header_left %}
    <a href="{% url 'index' %}" class="plain">
        <img class="logo" src="{% static "images/codefrog-logo-black-transparent.svg" %}">
    </a>
{% endblock header_left %}

{% block content %}
    <div class="grid-container pricing">
        <div class="grid-x grid-margin-x grid-margin-y grid-padding-x grid-padding-y">
            <div class="large-12 cell text-center" style="padding-bottom: 4em;">
                <h1>Pricing</h1>
                <h5><b>Fun fact:</b> The average developer costs around <b style="font-size: 200%;">$71,000</b> per year.</h5>
            </div>

            <!-- Level 1 -->
            <div class="cell small-12 large-4 plan">
                <div class="grid-x grid-margin-x grid-margin-y">
                    <div class="cell small-12 text-center">
                        <p>&nbsp;</p>
                        <h1>Minimum</h1>
                        <h3>$2.76 <span>/ month</span></h3>
                        <h5>per seat</h5>
                    </div>
                    <div class="cell small-12">
                        <h4>Features</h4>
                        <ul>
                            <li>Checks during Pull Requests</li>
                            <li>Code Complexity Graph</li>
                            <li class="not-available">Work Areas Diagram</li>
                            <li class="not-available">File Churn Diagram</li>
                            <li class="not-available">Github Issues Integration</li>
                            <li class="not-available">Github Pull Requests Integration</li>
                        </ul>
                        <ul>
                            <li>Repositories: <b>1</b></li>
                            <li>History: <b>30 days</b></li>
                        </ul>
                        <p>
                            <b>30 days free trial period!</b>
                        </p>
                    </div>
                    <div class="cell small-12">
                        <a href="{% url 'connect-github' %}?plan=minimum" class="button primary expanded">Start free trial</a>
                    </div>
                </div>
            </div>

            <!-- Level 2 -->
            <div class="cell small-12 large-4 plan">
                <div class="grid-x grid-margin-x grid-margin-y">
                    <div class="cell small-12 text-center">
                        <p>&nbsp;</p>
                        <h1>Individual</h1>
                        <h3>$19.83 <span>/ month</span></h3>
                        <h5>per seat</h5>
                    </div>
                    <div class="cell small-12">
                        <h4>Features</h4>
                        <ul>
                            <li>Checks during Pull Requests</li>
                            <li>Code Complexity Graph</li>
                            <li>Work Areas Diagram</li>
                            <li>File Churn Diagram</li>
                            <li class="not-available">Github Issues Integration</li>
                            <li class="not-available">Github Pull Requests Integration</li>
                        </ul>
                        <ul>
                            <li>Repositories: <b>10</b></li>
                            <li>History: <b>30 days</b></li>
                        </ul>
                        <p>
                            <b>30 days free trial period!</b>
                        </p>
                    </div>
                    <div class="cell small-12">
                        <a href="{% url 'connect-github' %}?plan=individual" class="button primary expanded">Start free trial</a>
                    </div>
                </div>
            </div>

            <!-- Level 3 -->
            <div class="cell small-12 large-4 plan">
                <div class="grid-x grid-margin-x grid-margin-y">
                    <div class="cell small-12 text-center">
                        <p>&nbsp;</p>
                        <h1>Team</h1>
                        <h3>$24.32 <span>/ month</span></h3>
                        <h5>per seat</h5>
                    </div>
                    <div class="cell small-12">
                        <h4>Features</h4>
                        <ul>
                            <li>Checks during Pull Requests</li>
                            <li>Code Complexity Graph</li>
                            <li>Work Areas Diagram</li>
                            <li>File Churn Diagram</li>
                            <li>Github Issues Integration</li>
                            <li>Github Pull Requests Integration</li>
                        </ul>
                        <ul>
                            <li>Repositories: <b>100</b></li>
                            <li>History: <b>5 years</b></li>
                        </ul>
                        <p>
                            <b>30 days free trial period!</b>
                        </p>
                    </div>
                    <div class="cell small-12">
                        <a href="{% url 'connect-github' %}?plan=team" class="button primary expanded">Start free trial</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
