{% extends "base_website.html" %}

{% load static %}

{% block header_left %}
    <a href="{% url 'index' %}" class="plain">
        <img class="logo" src="{% static "images/codefrog-logo-black-transparent.svg" %}">
    </a>
{% endblock header_left %}

{% block content %}
    <div class="grid-container pricing">
        <div class="grid-x grid-margin-x grid-margin-y grid-padding-x grid-padding-y">
            <div class="large-12 cell text-center" style="padding-bottom: 4em;">
                <h1>Pricing</h1>
                <h5><b>Fun fact:</b> The average developer costs around <b style="font-size: 200%;">$71,000</b> per year.</h5>
            </div>

            <div class="cell small-12 large-4 plan">
                <div class="grid-x grid-margin-x grid-margin-y">
                    <div class="cell small-12 text-center">
                        <p>&nbsp;</p>
                        <h1>Free</h1>
                        <h3>$0 <span>forever</span></h3>
                        <h5>&nbsp;</h5>
                    </div>
                    <div class="cell small-12">
                        <h4>Features</h4>
                        <ul>
                            <li>Pull Request Checks</li>
                            <li>Code Complexity Graph</li>
                            <li><del>GitHub Issues Integration</del></li>
                            <li><del>Problem Area Analysis</del></li>
<!--                            <li><del>Community Support</del></li> -->
                        </ul>
                        <ul>
                            <li>Public Repositories: <b>infinite</b></li>
                            <li>Private Repositories: <b>0</b></li>
                            <li>History: <b>7 days</b></li>
                        </ul>
                    </div>
                    <p>
                        &nbsp;
                    </p>
                    <div class="cell small-12">
                        <a href="{% url 'connect-github' %}?plan=free" class="button primary expanded">Choose Free Plan</a>
                    </div>
                </div>
            </div>
            <div class="cell small-12 large-4 plan">
                <div class="grid-x grid-margin-x grid-margin-y">
                    <div class="cell small-12 text-center">
                        <p>&nbsp;</p>
                        <h1>Individual</h1>
                        <h3>$19.83 <span>/ month</span></h3>
                        <h5>per seat</h5>
                    </div>
                    <div class="cell small-12">
                        <h4>Features</h4>
                        <ul>
                            <li>Pull Request Checks</li>
                            <li>Code Complexity Graph</li>
                            <li>GitHub Issues Integration</li>
                            <li>Problem Area Analysis</li>
<!--                            <li>Community Support</li> -->
                        </ul>
                        <ul>
                            <li>Public Repositories: <b>infinite</b></li>
                            <li>Private Repositories: <b>3</b></li>
                            <li>History: <b>1 month</b></li>
                        </ul>
                        <p>
                            <b>14 days free trial period!</b>
                        </p>
                    </div>
                    <div class="cell small-12">
                        <a href="{% url 'connect-github' %}?plan=individual" class="button primary expanded">Start free trial</a>
                    </div>
                </div>
            </div>
            <div class="cell small-12 large-4 plan">
                <div class="grid-x grid-margin-x grid-margin-y">
                    <div class="cell small-12 text-center">
                        <p>&nbsp;</p>
                        <h1>Team</h1>
                        <h3>$24.32 <span>/ month</span></h3>
                        <h5>per seat</h5>
                    </div>
                    <div class="cell small-12">
                        <h4>Features</h4>
                        <ul>
                            <li>Pull Request Checks</li>
                            <li>Code Complexity Graph</li>
                            <li>GitHub Issues Integration</li>
                            <li>Problem Area Analysis</li>
<!--                            <li>Community Support</li> -->
                        </ul>
                        <ul>
                            <li>Public Repositories: <b>infinite</b></li>
                            <li>Private Repositories: <b>10</b></li>
                            <li>History: <b>infinite</b></li>
                        </ul>
                        <p>
                            <b>14 days free trial period!</b>
                        </p>
                    </div>
                    <div class="cell small-12">
                        <a href="{% url 'connect-github' %}?plan=team" class="button primary expanded">Start free trial</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
