{% extends "website/base.html" %}

{% block content %}
    <div class="grid-x grid-padding-x grid-padding-y text-center">
        <div class="large-12 cell text-center">
            <h1>Alright!</h1>
            <p>
                When you connect Codefrog to your Github account you will get:
                <ul>
                    <li>On every pull request we will check the change in complexity.</li>
                    <li>A account on codefrog.io where you can view in depth analytics of your code base.</li>
                </ul>
            </p>
        </div>
        <div class="large-12 cell text-center">
            <a href="https://github.com/apps/codefrog-insights-dev/installations/new?state={{ github_state }}"
               class="button primary">
                Let's do this!
            </a>
        </div>
    </div>
{% endblock content %}
