{% extends "website/base.html" %}

{% load static %}

{% block content %}
    <!-- introduction -->
    <div class="section introduction">
        <div class="grid-container">
            <div class="grid-x grid-padding-x grid-margin-x grid-margin-y">
                <div class="cell medium-6 text-center medium-text-left">
                    <img class="logo" src="{% static "images/codefrog-logo-black-transparent.svg" %}">
                    <h2>Create better software faster.</h2>
                    <p>
                        Codefrog helps you decide to work on the important parts of your project. Making project
                        managers, engineers and customers happy.
                    </p>
                    <p>
                        Codefrog connects to your Github repository and uses the data that is already there.
                        <br/><br/>
                    </p>
                    <p>
                        <a href="{% url 'connect-github' %}" class="button primary large">
                            Connect Codefrog to your GitHub account!
                        </a>
                    </p>
                </div>
                <div class="cell medium-6 text-left">
                    <img src="{% static "images/screenshots/screen-desktop.png" %}" class="shadow">
                </div>
            </div>
        </div>
    </div>

    <!-- Tag line-->
    <!--
    <div class="grid-x grid-margin-x" style="margin-top: 5em;">
        <div class="large-12 cell text-center">
                <h2>Manage your technical debt.</h2>
                <h2>Minimize lead time.</h2>
                <h2>Keep code quality high.</h2>
        </div>
    </div>
    -->

    <!-- E-mail form -->
    <!--
    <div class="grid-x grid-margin-x grid-padding-x" style="margin-top: 6em;">
        <div class="cell medium-4">
        </div>
        <div class="cell medium-4">
            <div id="mc_embed_signup">
            <form action="https://ignaz.us3.list-manage.com/subscribe/post?u=0b2f529565ffc337fe6702887&amp;id=ffedb7a0cc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">

            <div class="mc-field-group">
                <label for="mce-EMAIL">Keep me posted!</label>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Your e-mail">
            </div>
                <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0b2f529565ffc337fe6702887_ffedb7a0cc" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Notify me when Codefrog is ready" name="subscribe" id="mc-embedded-subscribe" class="primary expanded button"></div>
                </div>
            </form>
            </div>
        </div>
    </div>
    -->

    <!-- show cases -->
    <div class="section show-cases odd">
        <div class="grid-container">
            <div class="grid-x grid-padding-x grid-margin-x grid-margin-y">
                <div class="cell small-12 text-center">
                    <h2>Check out the show cases:</h2>
                </div>
                <div class="cell medium-4 text-center">
                    <h4><a href="/project/vscode">Visual Studio Code</a></h4>
                    <p>A code editor optimized for building and debugging modern web and cloud applications.</p>
                    <p style="line-height: 2.5em;">
                        <span class="lang-typescript"><b>Type</b>Script</span>
                        <span class="contributors"><span class="count">1,000</span> contributors</span>
                    </p>
                </div>
                <div class="cell medium-4 text-center">
                    <h4><a href="/project/elasticsearch">Elasticsearch</a></h4>
                    <p>Elasticsearch is a distributed, JSON-based search and analytics engine.</p>
                    <p style="line-height: 2.5em;">
                        <span class="lang-java">Java</span>
                        <span class="contributors"><span class="count">&gt;1,000</span> contributors</span>
                    </p>
                </div>
                <div class="cell medium-4 text-center">
                    <h4><a href="/project/kubernetes">Kubernetes</a></h4>
                    <p>Kubernetes (K8s) is an open-source system for automating deployment, scaling, and management of
                        containerized applications.</p>
                    <p style="line-height: 2.5em;">
                        <span class="lang-go">Go</span>
                        <span class="contributors""><span class="count">&gt;2,000</span>
                        contributors</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- call to action 1 -->
    <div class="section call-to-action1 even">
        <div class="grid-container">
            <div class="grid-x grid-padding-x grid-margin-x grid-margin-y">
                <div class="cell small-12 text-center">
                    <h2>Ready for a better life?</h2>
                    <h5>Codefrog is your way to get back control over your technical debt. Stop reacting and start acting again.</h5>
                </div>
                <div class="cell text-center">
                    <a href="{% url 'connect-github' %}" class="button primary large">
                        Connect Codefrog to your GitHub account!
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Complexity in check -->
    <div class="section even">
        <div class="grid-container">
            <div class="grid-x grid-padding-x grid-margin-x grid-margin-y">
                <div class="cell medium-6 text-center medium-text-right">
                    <img src="{% static "images/screenshots/evolution-wide.png" %}" class="shadow">
                </div>
                <div class="cell medium-6 text-center medium-text-left align-self-middle">
                    <h2>Keep code complexity in check</h2>
                    <h5>See how the complexity of your system evolves over time. Bugs like complex code.
                        See when it is time for some refactoring.</h5>
                </div>
            </div>
        </div>
    </div>

    <!-- Minimize lead time -->
    <div class="section odd">
        <div class="grid-container">
            <div class="grid-x grid-padding-x grid-margin-x grid-margin-y">
                <div class="cell medium-6  text-center medium-text-right align-self-middle">
                    <h2>Minimize lead time</h2>
                    <h5>Simpler code means rapid development.</h5>
                    <h5>See your projects velocity and how it changes over time.</h5>
                </div>
                <div class="cell medium-6 text-center medium-text-left">
                    <img src="{% static "images/screenshots/minimize-leadtime.png" %}" class="shadow">
                </div>
            </div>
        </div>
    </div>

    <!-- Waste of resources -->
    <div class="section even">
        <div class="grid-container">
            <div class="grid-x grid-padding-x grid-margin-x grid-margin-y">
                <div class="cell medium-6 text-center medium-text-right">
                    <img src="{% static "images/screenshots/problem-areas.png" %}" class="shadow">
                </div>
                <div class="cell medium-6 text-center medium-text-left align-self-middle">
                    <h2>Know where you waste your resources</h2>
                    <h5>Discover the areas in your code where bugs keep popping up.
                        The areas that suck your engineers time and souls.</h5>
                    <h5>Knowing where you have to start fixing your code
                        is half the way to a clean and maintainable code base.</h5>
                </div>
            </div>
        </div>
    </div>

    <!-- Right engineers for refactoring -->
    <div class="section odd">
        <div class="grid-container">
            <div class="grid-x grid-padding-x grid-margin-x grid-margin-y">
                <div class="cell medium-6 text-center medium-text-right align-self-middle">
                    <h2>Choose the right engineers for refactoring</h2>
                    <h5>See who owns the code and who worked on it recently.
                        This helps you assign the right engineers to your refactoring endeavours.</h5>
                </div>
                <div class="cell medium-6 text-center medium-text-left">
                    <img src="{% static "images/screenshots/code-ownership.png" %}" class="shadow">
                </div>
            </div>
        </div>
    </div>

    <!-- call to action 2 -->
    <div class="section call-to-action1 even">
        <div class="grid-container">
            <div class="grid-x grid-padding-x grid-margin-x grid-margin-y">

                <div class="cell small-12 text-center">
                    <h2>Start now!</h2>
                </div>
                <div class="cell text-center">
                    <a href="{% url 'connect-github' %}" class="button primary large">
                        Connect Codefrog to your GitHub account!
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
