{% extends "website/base.html" %}

{% load static %}

{% block header_left %}
    <a href="{% url 'index' %}" class="plain">
        <img class="logo" src="{% static "images/codefrog-logo-black-transparent.svg" %}">
    </a>
{% endblock header_left %}

{% block content %}
    <div class="grid-x grid-padding-x grid-padding-y text-center">
        <div class="large-12 cell text-center">
            <h1>Signing up for  up for {{ plan|capfirst }} plan!</h1>
            <p>
                On the next page you will be redirected to Github where you can connect your GitHub account with Codefrog:
            </p>
             <a href="https://github.com/apps/codefrog-insights{% if not LIVE_SYSTEM %}-dev{% endif %}/installations/new?state={{ plan }}" class="plain">
                <img class="shadow" style="width: 600px; opacity: 80%;" src="{% static 'images/github-connect-screenshot.png' %}" />
             </a>
        </div>
        <div class="large-12 cell text-center">
            <a href="https://github.com/apps/codefrog-insights{% if not LIVE_SYSTEM %}-dev{% endif %}/installations/new?state={{ plan }}"
               class="button primary">
                {% if plan == 'free' %}
                    Start Free plan.
                {% endif %}
                {% if plan == 'individual' %}
                    Start free trial of Individual plan.
                {% endif %}
                {% if plan == 'team' %}
                    Start free trial of Team plan.
                {% endif %}
            </a>

        </div>
    </div>
{% endblock content %}
